.navbar-section{
    width: 100%;
    height: 55px;
    border: 1.5px solid #000000;
    background-color: #000000;
    color: #FFFFFF;
    
}
.navbar-button{
    height: 100%;
    float: left;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid #000000;
}

.logo-navbar{
    padding-top: 10px;
    
}
.logo-navbar a{
    color: #000000;
}