.booking-store-card{
    background-color: #aac1c173 !important; 
}
.store-detail-section{
    display: flex;
    font-size: 15px;
}
.store-detail-section-left{
    float: left;
    width: 50%;
    word-wrap: break-word;
}
.slot-section{
    float: left;
    font-size: 15px !important;
}
.bookings-top-section{
    border-bottom: 1px dashed black !important;
}
.address-section{
    
    font-size: 15px !important;
    margin-top: -11px;
    margin-bottom: -11px;
}
.flex-p{
    display:flex;
    flex-wrap: wrap;
}
.flex-p-left{
    width: 75%;
}
.flex-p-right{
    width: 25%                                                      ;
}

.qr-image-div{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.qr-image{
    height: 100%;
    width: 100%;
}