.App {
  text-align: center;
  background-color: gray;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  zoom: 100%;
  /* margin-top: -28vh; */
}

.App-link {
  color: #61dafb;
}

.Navbar {
  margin-bottom: 5px;
}

